@model CPEA.Utilities.ViewModel.CoursesVM
<div class="modal fade bd-example-modal-lg" id="editCourse"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Course Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditCourse">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <input type="hidden" id="courseIdEdit" asp-for="editCourseDTO.CourseId" />
                            <input type="hidden" id="categoryId" asp-for="editCourseDTO.CourseDetails.CategoryId" />
                            @*<input type="hidden" id="institutionId" asp-for="editCourseDTO.CourseDetails.InstitutionId" />*@
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Course Code</label>
                                        <input type="text" asp-for="editCourseDTO.CourseDetails.CourseCode" class="form-control" id="courseCode">
                                    </div>
                                </div><!-- Col -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input type="text" asp-for="editCourseDTO.CourseDetails.Name" class="form-control" id="courseNameEdit">
                                    </div>
                                </div><!-- Col -->
                            </div><!-- Row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea class="form-control" asp-for="editCourseDTO.CourseDetails.Description" id="description"></textarea>
                                    </div>
                                </div><!-- Col -->
                            </div><!-- Row -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="margin-right: 10px; background-color: #058383 !important">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>