<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="col-sm-12">
        <div class="text-muted text-center text-md-left" style="float:left">&copy; @DateTime.Now.Year EDUREX Academy</div>
        <div class="text-muted text-center text-md-left mb-0 d-none d-md-block" style="float:right">
            <div class="form-check form-check-inline">
                <div style="height: 20px; width: 40px; margin-right: 18px">
                    <img src="~/assets/images/UI.png" style="max-width: 100%; height: auto" />
                </div>
                <div style="height: 20px; width: 53px; margin-right: 18px">
                    <img src="~/assets/images/OAU-Logo.png" style="max-width: 100%; height: auto;" />
                </div>
                <div style="height: 20px; width: 44px; margin-right: 7px">
                    <img src="~/assets/images/lautech.png" style="max-width: 100%; height: auto" />
                </div>
                <div style="height: 20px; width: 40px; margin-right: 10px">
                    <img src="~/assets/images/ibPoly.png" style="max-width: 100%; height: auto" />
                </div>
            </div>
        </div>
    </div>
    @*<p class="text-muted text-center text-md-left">&copy; @DateTime.Now.Year EDUREX Academy</p>
    <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">
        <span style="margin-right:18px"><img src="~/assets/images/UI.png" /></span><span style="margin-right:18px"><img src="~/assets/images/OAU.png" /></span><span style="margin-right:7px"><img src="~/assets/images/lautec.png" /></span><span style="margin-right:10px"><img src="~/assets/images/IBPoly.png" /></span>
    </p>*@
</footer>